<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coxinha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Coxinha</h1>
    <div class="container-img-snd">
        <img src="{{ url_for('static', filename='coxinha.jpg')}}" alt="Coxinha">
    </div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit asperiores quas ipsum iste, suscipit fugit commodi veritatis vero obcaecati magnam esse tempore? Blanditiis porro, quia eveniet obcaecati itaque molestias. Laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, repellendus voluptates explicabo reprehenderit a ipsam. Earum accusantium quas, odit, aperiam repudiandae provident maxime nulla animi illum esse expedita fugiat est.</p>
    <div class="botao">
        <a href="index.html">Voltar</a>
    </div>    
</body>
</html>