<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Artigo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='artigos.css')}}">
</head>
<body>
    <header>
        <h1>Detalhes do Artigo</h1>
    </header>
    <div class="container">
        <div class="article-info">
            <h2>Avanços na Terapia Gênica</h2>
            <p><strong>Resumo:</strong> Este artigo explora as últimas inovações em terapia gênica para tratamento de doenças raras, abordando novas técnicas e resultados recentes de pesquisas.</p>
            <p><strong>Autores:</strong> Dr. Clara Santos, Dr. Rafael Almeida</p>
            <p><strong>Instituições:</strong> Universidade Federal de Minas Gerais</p>
            <p><strong>Data de Submissão:</strong> 10/07/2024</p>
            <p><strong>Palavras-chave:</strong> Terapia Gênica, Doenças Raras, Inovações, Pesquisa</p>
        </div>

        <div class="author-info">
            <h3>Autores</h3>
            <div class="author">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxsRKtEyj9Vy-FkJh23I9OiGZVS7JO6y2S-g&s" alt="Foto do Autor 5">
                <div class="author-details">
                    <p><strong>Nome:</strong> Dr. Clara Santos</p>
                    <p><strong>Afilição:</strong> Universidade Federal de Minas Gerais</p>
                    <p><strong>Biografia:</strong> Especialista em Terapia Gênica e Biotecnologia, com foco em novas técnicas para o tratamento de doenças raras.</p>
                </div>
            </div>
            <div class="author">
                <img src="https://media.istockphoto.com/id/1364917563/pt/foto/businessman-smiling-with-arms-crossed-on-white-background.jpg?s=612x612&w=0&k=20&c=U8JPP2jR5ibSuE_t0JrWgm0iQEfuMHHGMGTwEIMzNq0=" alt="Foto do Autor 6">
                <div class="author-details">
                    <p><strong>Nome:</strong> Dr. Rafael Almeida</p>
                    <p><strong>Afilição:</strong> Universidade Federal de Minas Gerais</p>
                    <p><strong>Biografia:</strong> Pesquisador em Genética e Terapia Gênica, com vários artigos publicados sobre novas abordagens e resultados clínicos.</p>
                </div>
            </div>
        </div>

        <a href="detalhes-biologia.html" class="btn">Voltar para a Listagem de Conferências</a>
    </div>
</body>
</html>
