<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Conferência</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='detalhes.css') }}">
</head>
<body>
    <header>
        <h1>Detalhes da Conferência</h1>
    </header>
    <div class="container">
        <div class="conference-info">
            <h2>Informações da Conferência</h2>
            <p><strong>Título:</strong> Conferência Internacional de Física</p>
            <p><strong>Tema:</strong> Física Quântica</p>
            <p><strong>Data:</strong> 10/10/2024</p>
            <p><strong>Local:</strong> Centro de Convenções de São Paulo</p>
            <p><strong>Organizadores:</strong> Universidade de São Paulo</p>
            <p><strong>Regras:</strong> Todos os participantes devem se registrar com antecedência.</p>
            <p><strong>Prêmios:</strong> Melhor Artigo, Melhor Palestrante</p>
        </div>
        
        <div class="speakers">
            <h2>Palestrantes</h2>
            {% for palestrante in palestrantes_fisica_list %}
                <div class="speaker" class="{{palestrante.get_id()}}">
                    <img src="{{palestrante.get_img()}}">
                    <div class="speaker-info">
                        <p><strong>Nome:</strong> {{ palestrante.get_name() }}</p>
                        <p><strong>Biografia:</strong> {{ palestrante.get_biografy() }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="submitted-papers">
            <h2>Artigos Submetidos</h2>
            <div class="paper">
                <p><strong>Título:</strong> Avanços na Física Quântica</p>
                <p><strong>Resumo:</strong> Este artigo explora os mais recentes avanços na teoria da física quântica...</p>
                <a href="/artigo-avancos" class="btn">Ver Detalhes</a>
            </div>
            <div class="paper">
                <p><strong>Título:</strong> Aplicações da Física de Partículas</p>
                <p><strong>Resumo:</strong> Uma análise das novas aplicações práticas da física de partículas em tecnologias emergentes...</p>
                <a href="/artigo-aplicacoes" class="btn">Ver Detalhes</a>
            </div>
        </div>
        <a href="/" class="btn">Voltar para a Página Inicial</a>
    </div>
</body>
</html>