<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestão de Conferências Científicas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pagina-principal.css') }}">
</head>
<body>
    <header>
        <h1>Sistema de Gestão de Conferências Científicas</h1>
    </header>
    <div class="container">
        <h2>Listagem de Conferências</h2>
        {% for conferencia in conferencia_list %}
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Tema</th>
                    <th>Data</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr class="{{conferencia.get_id()}}">
                    <td>{{ conferencia.get_title() }}</td>
                    <td>{{ conferencia.get_theme() }}</td>
                    <td>{{ conferencia.get_date()}}</td>
                    <td><a href="{{conferencia.get_details()}}" class="btn">Ver Detalhes</a></td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
</body>
</html>
