<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conferencia</title>
</head>
<body>
    <section id="{{ conferencia.get_id() }}">
        <h1>{{ conferencia.get_titulo() }}</h1>
        <p>{{ conferencia.get_descricao() }}</p>
        <p>{{ conferencia.get_palestrante() }}</p>
        <a href="{{ url_for('artigo', id=artigo_conferencia.get_id()) }}">Conferir artigo</a>
    </section> 
</body>
</html>