<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conferencias</title>
</head>
<body>
    {% for conferencia in conferencia_list %}
        <section id="{{ conferencia.get_id() }}">
            <h1>Conferencias</h1>
            <p>{{ conferencia.get_tema() }}</p>
            <a href="{{ url_for('conferencia', id=conferencia.get_id()) }}">Ver detalhes</a>
        </section>
    {% endfor %}
</body>
</html>